.saved-quotes {
    margin-top: 40px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: blueviolet;
    padding: 10px;
    margin: 5px auto;
    width: 60%;
    border-radius: 5px;
    font-size: 1.1rem;
  }
  .current-quote{
    color:white
  }